body, button, input {
  font-family: 'Kanit', sans-serif;
}

body {
  margin: 25px auto;
  padding: 50px;
  background: #CCCCCC;
}

h1 {
  font-weight: 800;
  font-size: 75px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 375px;
  padding: 25px;
  margin: 0 auto;
  background: #FFFFFF;
}

#controls {
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  padding: 40px 0;
}

#timer {
  font-size: 50px;
  padding-left: 25px;
  font-weight: 200;
  vertical-align: top;
}

.input-group {
  margin: 25px 0;
}

label {
  text-transform: uppercase;
  display: inline-block;
  min-width: 150px;
  width: 95%;
  font-weight: 200;
  font-size: 30px;
  margin: auto auto;
}

input {
  min-width: 150px;
  width: 95%;
  font-size: 30px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-left: 5px;
  font-weight: 200;
  outline: none;
}

input:disabled {
  background-color: #FFFFFF;
  opacity: 0.6;
}

button {
  padding: 10px 60px;
  background-color: #222222;
  color: #FFFFFF;
  border: none;
  outline: none;
  margin: 5px auto;
  min-width: 150px;
  width: 95%;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

button:disabled {
  opacity: 0.3;
}